@model LoginDTO
@{
    Layout = "_AuthLayout";
    var pageTitle = "Login";
    ViewData["Title"] = pageTitle;
    var pageHeader = new PageDefaultHeader(pageTitle);
}

<partial name="_PageHeader" model="@pageHeader" />

<div class="container-fluid contact py-5">
    <div class="container">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <form asp-action="Login" asp-controller="Auth" class="">

                        <input type="hidden" asp-for="ReturnUrl" />

                        <div asp-validation-summary="All" class="w-100 text-danger my-2"></div>

                        @Html.AntiForgeryToken()

                        <label class="mb-2">Username <span class="text-danger">*</span></label>
                        <input type="email" asp-for="Username" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Username">

                        <label class="mb-2">Password <span class="text-danger">*</span></label>
                        <input type="password" asp-for="Password" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Password">

                        <button id="btnLogin" class="w-100 btn form-control border-secondary py-3 bg-white text-primary" type="submit">Submit</button>
                    </form>
                </div>
                <div class="col-lg-3"></div>

                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="my-auto text-center text-md-end">
                        Don't have an account yet!
                        <a asp-action="Register" asp-controller="Auth">Register here</a>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}