@using MT.Services.Web
@model ProductDTO
@{
    var pageTitle = "Create Product";
    ViewData["Title"] = pageTitle;
    var pageHeader = new PageDefaultHeader(pageTitle);
    pageHeader.PageLinks.Add(new() { Action = "Index", Controller = "Home", PageName = "Home" });
    pageHeader.PageLinks.Add(new() { Action = "Index", Controller = "Product", PageName = "Products" });
    pageHeader.PageLinks.Add(new() { Action = "Create", Controller = "Product", PageName = pageTitle, IsCurrentPage = true });
}

<partial name="_PageHeader" model="@pageHeader" />

<!-- Content Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">

                <div class="col-lg-3"></div>

                <div class="col-lg-6">
                    <form asp-action="Create" asp-controller="Product">
                        @Html.AntiForgeryToken()

                        <div class="mb-4">
                            <label class="mb-2">Product Name <span class="text-danger">*</span></label>

                            <input type="text" asp-for="Name" class="w-100 form-control border-0 py-3" required
                                   placeholder="Enter Product Name" />
                            <span asp-validation-for="Name" class="w-100 text-danger my-2"></span>
                        </div>
                        <div class="mb-4">
                            <label class="mb-2">Price <span class="text-danger">*</span></label>

                            <input type="number" asp-for="Price" class="w-100 form-control border-0 py-3" required
                                   placeholder="Enter Product Price" />
                            <span asp-validation-for="Price" class="w-100 text-danger my-2"></span>
                        </div>
                        <div class="mb-4">
                            <label class="mb-2">Description </label>

                            <textarea asp-for="Description" class="w-100 form-control border-0 py-3" placeholder="Enter Product Description"></textarea>
                        </div>

                        <div class="mb-4">
                            <label class="mb-2">Category Name </label>

                            <input type="text" asp-for="CategoryName" class="w-100 form-control border-0 py-3" placeholder="Enter Product Category Name" />
                        </div>

                        <div class="mb-4">
                            <label class="mb-2">Image Url </label>

                            <input type="text" asp-for="ImageUrl" class="w-100 form-control border-0 py-3" placeholder="Enter Product Image Url" />
                        </div>

                        <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary" type="submit">Submit</button>
                    </form>
                </div>

                <div class="col-lg-3"></div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}