@model ProductDTO
@{
    var pageTitle = "Delete Product";
    ViewData["Title"] = pageTitle;
    var pageHeader = new PageDefaultHeader(pageTitle);
    pageHeader.PageLinks.Add(new() { Action = "Index", Controller = "Home", PageName = "Home" });
    pageHeader.PageLinks.Add(new() { Action = "Index", Controller = "Product", PageName = "Products" });
    pageHeader.PageLinks.Add(new() { Action = "Delete", Controller = "Product", PageName = pageTitle, IsCurrentPage = true });
}

<partial name="_PageHeader" model="@pageHeader" />

<!-- Content Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">

                <div class="col-lg-3"></div>

                <div class="col-lg-6">
                    <form asp-action="Delete" asp-controller="Product">
                        <input type="hidden" asp-for="ProductId" />

                        <div class="mb-4">
                            <label class="mb-2">Name</label>
                            <input type="text" asp-for="Name" class="w-100 form-control border-0 py-3" disabled />
                        </div>
                        <div class="mb-4">
                            <label class="mb-2">Price</label>
                            <input type="number" asp-for="Price" class="w-100 form-control border-0 py-3" disabled />
                        </div>
                        <div class="mb-4">
                            <label class="mb-2">Description</label>
                            <textarea asp-for="Description" class="w-100 form-control border-0 py-3" disabled></textarea>
                        </div>

                        <div class="mb-4">
                            <label class="mb-2">Category Name</label>
                            <input type="text" asp-for="CategoryName" class="w-100 form-control border-0 py-3" disabled />
                        </div>

                        <div class="mb-4">
                            <label class="mb-2">Image Url</label>
                            <input type="text" asp-for="ImageUrl" class="w-100 form-control border-0 py-3" disabled />
                        </div>

                        <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary" type="submit">Delete</button>
                    </form>
                </div>

                <div class="col-lg-3"></div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}