@model ProductDetailDTO
@{
    var pageTitle = Model?.ProductDetail?.Name ?? "Product Details";
    ViewData["Title"] = pageTitle;
    var pageHeader = new PageDefaultHeader(pageTitle);
    pageHeader.PageLinks.Add(new() { Action = "Index", Controller = "Home", PageName = "Home" });
    pageHeader.PageLinks.Add(new() { Action = "Index", Controller = "Product", PageName = "Products" });
    pageHeader.PageLinks.Add(new() { Action = "Detail", Controller = "Product", PageName = pageTitle, IsCurrentPage = true });
}

<partial name="_PageHeader" model="@pageHeader" />

<div class="container-fluid">
    <div class="container mt-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-12 col-xl-12">
                <div class="row g-4">
                    <div class="col-lg-5">
                        <div class="border rounded">
                            <a href="#">
                                <img src="@Model?.ProductDetail?.ImageUrl" class="img-fluid rounded" alt="image not found!" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <h4 class="fw-bold mb-3">@Model?.ProductDetail?.Name</h4>
                        <p class="mb-3">Category: @Model?.ProductDetail?.CategoryName</p>
                        <h5 class="fw-bold mb-3">@Model?.ProductDetail?.Price.ToString("c")</h5>
                        @* <div class="d-flex mb-4">
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star text-secondary"></i>
                        <i class="fa fa-star"></i>
                        *@
                        <p class="mb-4">@Model?.ProductDetail?.Description</p>
                        <div class="input-group quantity mb-5" style="width: 100px;">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control form-control-sm text-center border-0" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <a href="#" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <h1 class="fw-bold mb-0">Related products</h1>

        <partial name="_ProductCarousel" model="@Model.RelatedProducts" />
    </div>
</div>