@model ChangePasswordDTO
@{
    var pageTitle = "Change Password";
    ViewData["Title"] = pageTitle;
    var pageHeader = new PageDefaultHeader(pageTitle);
    pageHeader.PageLinks.Add(new() { Action = "Index", Controller = "Home", PageName = "Home" });
    pageHeader.PageLinks.Add(new() { Action = "ChangePassword", Controller = "Account", PageName = pageTitle, IsCurrentPage = true });
}

<partial name="_PageHeader" model="@pageHeader" />

<div class="container-fluid contact py-5">
    <div class="container">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <form asp-action="ChangePassword" asp-controller="Account">
                        @Html.AntiForgeryToken()

                        <input asp-for="UserID" type="hidden" />

                        <div class="mb-4">
                            <label class="mb-2">Current Password <span class="text-danger">*</span></label>
                            <input type="password" asp-for="CurrentPassword" class="w-100 form-control border-0 py-3 mb-2" placeholder="Enter Current Password" />
                            <span asp-validation-for="CurrentPassword" class="w-100 text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <label class="mb-2">New Password <span class="text-danger">*</span></label>
                            <input type="password" asp-for="NewPassword" class="w-100 form-control border-0 py-3 mb-2" placeholder="Enter New Password ">
                            <span asp-validation-for="NewPassword" class="w-100 text-danger mb-2"></span>
                        </div>

                        <div class="mb-4">
                            <label class="mb-2">Re-Enter New Password</label>
                            <input type="password" asp-for="ReenterNewPassword" class="w-100 form-control border-0 py-3 mb-2" placeholder="Enter Re-Enter New Password" />
                            <span asp-validation-for="ReenterNewPassword" class="w-100 text-danger mb-2"></span>
                        </div>

                        <button id="btnChangePassword" class="w-100 btn form-control border-secondary py-3 bg-white text-primary " type="submit">Submit</button>
                    </form>
                </div>
                <div class="col-lg-3"></div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}