@model UserDTO
@{
    var pageTitle = "My Profile";
    ViewData["Title"] = pageTitle;
    var pageHeader = new PageDefaultHeader(pageTitle);
    pageHeader.PageLinks.Add(new() { Action = "Index", Controller = "Home", PageName = "Home" });
    pageHeader.PageLinks.Add(new() { Action = "Account", Controller = "Profile", PageName = pageTitle, IsCurrentPage = true });
}

<partial name="_PageHeader" model="@pageHeader" />

<div class="container py-5">
    <form method="post" asp-action="Index" asp-controller="Account">
        <div class="px-5 py-3 bg-light rounded">

            <input type="hidden" asp-for="ID" />

            <div class="row g-5">
                <div class="col-md-12 col-lg-12 col-xl-12">


                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-4">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Full Name<sup>*</sup></label>
                                        <input type="text" class="form-control" asp-for="Name" placeholder="Enter Full Name" />
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-4">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Phone<sup>*</sup></label>
                                        <input type="tel" class="form-control" asp-for="PhoneNumber" placeholder="Enter Phone Number" />
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-4">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12 col-lg-12">
                            <hr class="mb-0" />

                            <div class="row">

                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-item">
                                            <label class="form-label my-3">Billing Address<sup>*</sup></label>
                                            <input type="text" class="form-control" placeholder="Enter Billing Address" asp-for="BillingAddress" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-item">
                                            <label class="form-label my-3">Billing City<sup>*</sup></label>
                                            <input type="text" class="form-control" asp-for="BillingCity" placeholder="Enter City" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-item">
                                            <label class="form-label my-3">Billing State<sup>*</sup></label>
                                            <input type="text" class="form-control" asp-for="BillingState" placeholder="Enter State" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-item">
                                            <label class="form-label my-3">Billing Country<sup>*</sup></label>
                                            <input type="text" class="form-control" asp-for="BillingCountry" placeholder="Enter Country" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-item">
                                            <label class="form-label my-3">Billing ZipCode<sup>*</sup></label>
                                            <input type="number" class="form-control" asp-for="BillingZipCode" placeholder="Enter ZipCode" />
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                        <div class="col-md-12 col-lg-12" id="dvUserShippingAddress">
                            <hr class="mb-0" />

                            <div class="row">

                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-item">
                                        <label class="form-label my-3">Shipping Address<sup>*</sup></label>
                                        <input type="text" class="form-control" placeholder="Enter Shipping Address" asp-for="ShippingAddress" />
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12 col-md-3 col-lg-3">
                                    <div class="form-item">
                                        <label class="form-label my-3">Shipping City<sup>*</sup></label>
                                        <input type="text" class="form-control" asp-for="ShippingCity" placeholder="Enter Shipping City" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3">
                                    <div class="form-item">
                                        <label class="form-label my-3">Shipping State<sup>*</sup></label>
                                        <input type="text" class="form-control" asp-for="ShippingState" placeholder="Enter Shipping State" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3">
                                    <div class="form-item">
                                        <label class="form-label my-3">Shipping Country<sup>*</sup></label>
                                        <input type="text" class="form-control" asp-for="ShippingCountry" placeholder="Enter Shipping Country" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3">
                                    <div class="form-item">
                                        <label class="form-label my-3">Shipping ZipCode<sup>*</sup></label>
                                        <input type="text" class="form-control" asp-for="ShippingZipCode" placeholder="Enter Shipping ZipCode" />
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-12 col-lg-12 text-center">
                            <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase text-primary">
                                Save Details
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $("#chkToggleShippingAddressSection").change(function () {
            if (this.checked)
                $("#dvUserShippingAddress").hide();
            else $("#dvUserShippingAddress").show();
        });
    </script>
}